
<app-header></app-header>
<mat-card layout-align = "center center" >
  <mat-card-title>
    <span class="md-headline">New Password</span>
  </mat-card-title>
  <div *ngIf = "message">
    <output>{{message}}</output>
  </div>
  <form (submit) = "newPassword(formReference)" #formReference = "ngForm">
    <div>
      <mat-form-field> 
        <input matInput [type]="!hide1 ? 'password' : 'text'" pattern = "^(?=.{8,12}$)([A-z])(?=.*[a-z].*[a-z].*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W)(?:([\w\d*?!@#$%:;])\2?(?!\2))+$"
        placeholder="Your new password"  ngModel name='password' required #password = "ngModel">
        <mat-icon matSuffix (click)="hide1 = !hide1">{{!hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid">Please enter your password</mat-error>
      </mat-form-field>
      <mat-form-field> 
        <input matInput [type]="!hide2 ? 'password' : 'text'" placeholder="Your new password again"  ngModel name='password2' required #password2 = "ngModel">
        <mat-error *ngIf="password2.invalid">Please reenter your password</mat-error>
        <mat-icon matSuffix (click)="hide2 = !hide2">{{!hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <button mat-button type="submit">Continue</button>
      <button mat-button type = "button" (click) = cancel()>Cancel</button>
    </div>
  </form>
</mat-card>
<app-footer></app-footer>

