
<app-header></app-header>
<mat-card layout-align = "center center" >
  <mat-card-title>
    <span class="md-headline">Secret Question</span>
  </mat-card-title>
  <div *ngIf = "message">
    <output>{{message}}</output>
  </div>
  <form (submit) = "continueClicked(formReference)" #formReference = "ngForm">
    <div>
      <output type="text">{{question}}</output>
      <mat-form-field> 
        <input matInput type='text' placeholder="Your answer"  ngModel name='answer' required #answer = "ngModel">
        <mat-error *ngIf="answer.invalid">Please enter your answer</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button mat-button type="submit">Continue</button>
      <button mat-button type = "button" (click) = cancel()>Cancel</button>
    </div>
  </form>
</mat-card>
<app-footer></app-footer>

